<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Card</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        
<header>
    <h2>English header</h2>

    <section  lang="fr">
        
        
        <ul>

        
        

        
        

        
        
        

        
        

        
        

        
        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-ds-documentation/fr/components/alerts/">Français</a>
        </li>

        

        </ul>
        
    </section>
</header>

        <section>
Design system

<nav>

    

    

    <ul><li>
    <a href="/alpha-ds-documentation/en/">Home</a></li><li>
    <a href="/alpha-ds-documentation/en/get-started/">Get started</a></li><li>
    <a href="/alpha-ds-documentation/en/components/">Components</a><ul>
            <li>
    <a href="/alpha-ds-documentation/en/components/alerts/">Alerts</a><ul>
                <li>
                    <a href="/alpha-ds-documentation/en/components/alerts/#look-at-all-the-alerts"> Heading 1 </a>
                </li>
            
                <li>
                    <a href="/alpha-ds-documentation/en/components/alerts/#heading-2"> Heading 2 </a>
                </li>
            </ul></li>
        
            
        </ul></li></ul>
</nav>
</section>

        <main>
            <h2 id="card-document" tabindex="-1">Card document <a class="direct-link" href="#card-document">#</a></h2>
<p>All the information</p>

        </main>

        <footer>
    <h2>English footer</h2>
</footer>
    </body>
</html>